<div class="col-md-4 offset-md-4 mt-5">
    <div class="alert alert-info text-center">
        <strong>Mark Attendance By Card ID</strong>
    </div>


    <div class="card">
        <h4 class="card-header text-center">Student</h4>

        <div class="card-body">
            <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()">

                <div class="form-group row mt-2">
                    <div class="col">
                        <label for="cardId">Card ID (000-XXX-XXX-X)</label>
                        <input type="text" formControlName="cardId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['cardId'].errors }" (change)="onChange()" autofocus/>
                        <div *ngIf="submitted && f['cardId'].errors" class="invalid-feedback">
                            <div *ngIf="f['cardId'].errors['required']">Card ID is required.</div>
                            <div *ngIf="f['cardId'].errors['minlength']">Card ID should have atleast 10 digits.</div>
                            <div *ngIf="f['cardId'].errors['maxlength']">Card ID should have atmost 10 digits.</div>
                        </div>
                    </div>
                </div>
                
                <div class="d-grid gap-2 mt-4">
                    <button [disabled]="loading" class="btn btn-primary" type="submit">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        <i class="bi bi-calendar4"></i>
                        Mark Attendance
                    </button>
                </div>
    
            </form>
        </div>

    </div>
</div>